<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <%- include('inc/head') %>
</head>

<body class="font-sans">
    <%- include('inc/nav') %> %>
    <%- include('inc/messages' , {errors:errors})%>
    <%- include('inc/authForm' , {title : 'ورود به حساب کاربری' , btnText:'ورود'}) %> 
</body>

</html>